In [4]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
df = pd.read_pickle('FT-data-DSpace/data_agreggated.pickle')
df = df[['Date', 'Meeting Number', 'Clean']]

In [6]:
df['Sentences'] = df['Clean'].apply(lambda x: ' '.join(x))
df.sample(2)

,Date,Meeting Number,Clean,Sentences
486,2014-02-06T10:00:00,51. møde,"[mød, åbn, dag, torsdag, februar, meddel, følg...",mød åbn dag torsdag februar meddel følg anmeld...
798,2016-12-16T10:00:00,38. møde,"[mød, åbn, dag, følg, anmeld, kirst, norman, a...",mød åbn dag følg anmeld kirst norman anders sf...

In [17]:
tvec = TfidfVectorizer(min_df=.01, max_df=.1)
x = tvec.fit_transform(df['Sentences'])

In [ ]:
x[0].toarray()

In [18]:
len(tvec.get_feature_names())

16449